<div class="container text-center">
  <h1>About page</h1>
  <p>We are DevMatch. Our company focuses on creating an exclusive community developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In nesciunt adipisci ab rem esse, sequi harum similique totam omnis suscipit, minima facere blanditiis neque necessitatibus accusamus officia maiores. Inventore, reprehenderit.</p>
</div>